body{
background-color:azure;
text-align:center;
}
img{
height:300px;
}
div{
margin-top:15px;
}
.imgsection{
display:flex;
justify-content:center;
}
#aqua{
width:450px;
}
#idkwhatthisis{
width:450;
}
section-style{
margin-right:25px;
margin-left:25px;
background-color:azure;
}